<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gamestore_page</title>
</head>
<body>
    <h1 align="center"><b>Магазин</b></h1>
    <p></p>
    <p></p>
    <ul>
        <li>"Эвердейл"      <button>Купить</button></li>
        <li>"Мертвый сезон" <button>Купить</button></li>
        <li>"Манчкин"       <button>Купить</button></li>
        <li>"Экипаж"        <button>Купить</button></li>
        <li>"Simulo"        <button>Купить</button></li>
        <li>"Мафия"         <button>Купить</button></li>
    </ul>
    <p></p>
    <p></p>
    <p><button><a href="/basket">Просмотр корзины</a></button></p>
    <p></p>
    <p><button><a href="/"><h3>Главная страница</h3></a></button></p>
</body>
</html>